*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: boder-box;
}
.navbar{
    height: 60px;
    background-color:rgb(0, 0, 0);
    color:white;   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
height: 50px;
width: 100px;
}
.logo{
    height: 50px;
    width: 100%;
    background-size: cover;
    background-image: url(th1.jpeg);
}
.border{
    border:1px solid transparent;
}
.border:hover{
    border:1px solid white;
}
.add-first{
    color:#cccccc;
    font-size:0.85rem;
    margin-left: 15px;
}
.add-second{
    font-size:1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 620px;
    height: 40px;
    background-color: rgb(252, 252, 252);
    border-radius: 4px;
}
.search-select{
    width: 50px;
    height: 40px;
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
    border: none;
    text-align: center;
}
.search-input{
  width: 100%;
  height: 36px;
  border: none;
  font-size: 1rem;
}
.search-icon{
    width: 45px;
    height: 35px;
    font-size: 1.2rem;
}
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 1rem;
    font-weight: 700;
}
.nav-search:hover{
    border:2px solid orange;
}
.nav-cart{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.cart{
    font-weight: 700;
    margin-left: 5px;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display:flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 10px;
}
.panel-ops{
    width: 70%;
    font-size:0.85rem;
}
.panel-deals{
    font-size:1rem;
}
.hero-section{
    background-size: cover;
    background-image:url(hero\ image.jpg);
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    padding: 3px;
    position: relative;
    background-repeat: no-repeat;
}
.hero-message{
    height:25px;
    background-color: white;
    width: 90vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding: 4px;
    font-size: 0.8rem;
}
.hero-message a{
    color:#007185;
}
.shop-section{
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(243,209,220);
}
.box{
    height: 400px;
    background-color: white;
    width: 23%;
    padding: 20px 5px 15px;
}
.box1-1st-section{
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1-2nd-section{
    height: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic1{
    background-image: url(headset.jpeg);
    height: 110px;
    width: 115px;
    background-size: cover;
}
.pic2{
    background-image: url(mouse\ pic.jpeg);
    height: 110px;
    width: 115px;
    background-size: cover;
}
.imgbox{
    height: 80%;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
}
.img69{
    background-image: url(pc.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    padding: 6px;
}
.img68{
    background-image: url(moms.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    padding: 6px; 
}
.immbox{
    height: 59%;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
}
.img67{
    background-image: url(onion_.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    padding: 6px; 
}
.discount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.line-break{
    height: 15px;
    width: 100%;
    background-color: rgb(243,209,220);
}
.big-box{
    width: 98%;
    background-color: rgb(255, 255, 255);
    height: 265px;
    margin: auto;
}
.second-page{
    width: 100%;
    height: 300px;
    background-color: rgb(243,209,220);
}
.all-img-box{
    height: 225px;
    width: 100%;
    margin: auto;
    background-color: rgb(255,255,255);
    display: flex;
    justify-content: space-evenly;
}
.pic-box{
    height: 200px;
    width: 13%;
    margin: auto;
    background-color: red;
}
#b1{
    background-image: url(book1.jpg);
    background-size:cover;
}
#b2{
    background-image: url(book2.jpg);
    background-size:cover;
}
#b3{
    background-image: url(book3.jpg);
    background-size:cover;
}
#b4{
    background-image: url(book4.jpg);
    background-size:cover;
}
#b5{
    background-image: url(book5.jpg);
    background-size:cover;
}
#b6{
    background-image: url(book6.jpg);
    background-size:cover;
}
#b7{
    background-image: url(book7.jpg);
    background-size:cover;
}
.top-section{
    width: 100%;
    height:5vh;
    background-position: center center;
    display: flaex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:2px solid rgb(32,32,68);
    position: relative;
    background-color: rgb(32, 32, 68);
    padding: 4px;
}
.top-section p{
    display: flaex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3px;
    color: white;
}
.last-section{
    width: 100%;
    height: 320px;
    position:relative;
    background-color:#232F3E;
    justify-content: space-evenly;
    display: flex;
    padding: 8px;
}
.between{
    width: 100%;
    height: 24px;
    background-color: #232F3E;
}
.firstcol{
     width: 25%;
     height: 70%;
     list-style: none;
     color:white;
}
.secondcol{
    width: 25%;
    height: 70%;
    list-style: none;
    color:rgb(245, 245, 245);
}
.thirdcol{
    width: 25%;
    height: 70%;
    list-style: none;
    color:white;
}
.forthcol{
    width: 25%;
    height: 70%;
    list-style: none;
    color:white;
}
.blankcol{
    width: 10%;
    height:70%;
}
.separationbox{
    height: 105px;
    width: 100%;
    background-color: #232F3E;
}
.separation{
    width: 100%;
    background-color: white;
    height: 1px;
    
}
.lastpart2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:100%;
    background-color: #232F3E;
}
.blank{
    height:100%;
    width: 20%;
}
.eng{
    color: white;
    border:1px solid rgb(112, 105, 105);
    background-color: #232F3E;
    margin-left: 27px;
    padding: 8px;
    font-size: 0.75rem;
    border-radius: 6px;
}
.united{
    color: white;
    border:1px solid rgb(112, 105, 105);
    background-color: #232F3E;
    margin-left: 27px;
    padding: 8px;
    font-size: 0.75rem;
    border-radius: 6px;
}
.dollar{
    color: white;
    border:1px solid rgb(112, 105, 105);
    background-color: #232F3E;
    margin-left: 27px;
    padding: 8px;
    font-size: 0.75rem;
    border-radius: 6px;
}